<!doctype html>
<html>
    <head>
        <style>
            {{.CSS}}
        </style>
    </head>
    <body>
        <div class="email-container">
            <div class="header">
                <h1 class="app-name">{{.AppName}}</h1>
            </div>

            <p>Hello,</p>
            <p>Your one-time password is:</p>
            <p style="text-align: center">
                <span class="otp-code">{{.OTP}}</span>
            </p>

            <div class="alert alert-info">
                <i
                    >If you didn't ask for the one-time password, you can ignore
                    this email.</i
                >
            </div>

            <div class="footer">
                <p>Thanks,<br />{{.AppName}} team</p>
            </div>
        </div>
    </body>
</html>
