<!doctype html>
<html>
    <head>
        <style>
            {{.CSS}}
        </style>
    </head>
    <body>
        <div class="email-container">
            <div class="header">
                <h1 class="app-name">{{.AppName}}</h1>
            </div>

            <p>Hello,</p>
            <p>Click on the button below to reset your password.</p>
            <p style="text-align: center">
                <a
                    class="btn"
                    href="{{.AppURL}}/reset-password?token={{.Token}}"
                    target="_blank"
                    rel="noopener"
                    >Reset password</a
                >
            </p>

            <div class="alert alert-info">
                <i
                    >If you didn't ask to reset your password, you can ignore
                    this email.</i
                >
            </div>

            <div class="footer">
                <p>Thanks,<br />{{.AppName}} team</p>
            </div>
        </div>
    </body>
</html>
